header{display: flex;
 flex-direction: row;
 justify-content: space-around;
 border: solid 2px black;
 border-radius: 50px;
}
#mainLogo{width: 10%;
height: 10%;}

#suhaib2{text-align: center;
align-items: center;
font-family: 'Amiri', serif;
padding-left: 300px;
}

li{
  list-style-type: none;
font-family: 'Amiri', serif;
font-weight: normal;
width:200px;
}
.two_column{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
h3{
  padding-left: 30px;
}
#maen{
padding-left: 100px !important;

}
#herbah{
  padding-left: 10px;
}
#fasalia{
  padding-left: 20px;
}
#waha{padding-left: 50px;}
#madaba{

  padding-left: 50px;
}
.maenMain{
  margin-left: 30px;
}
#lb{width:300px;
padding-left: 90px;}
#tall{width:300px;}
