{% extends 'base.html' %}
{% load static %}
{% block content %}



<h4 class='text-center  text-success'>استبيان حول التطبيقات </h4>

<form class="text-center mx-auto container" action="{% url 'questionnaireUrl' %}" method="post" enctype="multipart/form-data"> {% csrf_token %}



<div class="row container justifiy-content-center">


  <div class="input-group mt-3 text-center  ">
    <select class="form-select monthlyReport" id="inputGroupSelect01" name='sector' required>
      <option selected class='text-"text-center'>اختر</option>
      <option class='text-"text-center'>جهة حكومية</option>
      <option class='text-"text-center'>جهة خاصة(مقاول,شركة استشارية)</option>

    </select>
    <label class="input-group-text" for="inputGroupSelect01">الجهة</label>

  </div>


  <div class="input-group mt-3 text-center  ">
    <input name='institution' type="text" class="form-control" placeholder=" وزارة الاشغال , بلدية , امانة  " aria-label="Username"  aria-describedby="basic-addon1" required>
    <span class="input-group-text" id="basic-addon1">اسم المؤسسة</span>

  </div>


  <div class="input-group mt-3 text-center  ">
    <input name='user' type="text" class="form-control" placeholder=" " aria-label="Username" aria-describedby="basic-addon1" required>
    <span class="input-group-text" id="basic-addon1">اسم المستخدم</span>

  </div>




    <div class="input-group mt-4 text-center  ">
      <select class="form-select monthlyReport" id="inputGroupSelect01" name='application' required>
        <option selected class='text-"text-center'>اختر</option>
        <option valeu="تطبيق تعاميم المحروقات" >تطبيق تعاميم المحروقات</option>
        <option valeu="تطبيق تحضير قيم العطاء" >تطبيق تحضير قيم العطاء</option>
        <option valeu="تطبيق حساب فرق التواريخ" >تطبيق حساب فرق التواريخ</option>
        <option valeu="العطاءات ضمن كفالة الصيانة في مديرية اشغال مأدبا" >العطاءات ضمن كفالة الصيانة في مديرية اشغال مأدبا</option>

      </select>
      <label class="input-group-text" for="inputGroupSelect01">التطبيق</label>

    </div>
    <hr class='text-center w-75 mx-auto my-4'>

<div class="row  mx-auto "  >





<div class="container ">
<h6 class='text-center'>هل استخدام التطبيق  اختصر الجهد والوقت</h6>
<div class="ml-auto">


<div class="form-check">
  <input class="form-check-input" type="radio" name="speed" value='نعم' id="flexRadioDefault1">
  <label class="form-check-label" for="flexRadioDefault1">

نعم
</div>
<div class="form-check my-3">
  <input class="form-check-input" type="radio" name="speed" value='لا' id="flexRadioDefault2" checked>
  <label class="form-check-label" for="flexRadioDefault2">
  لا
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="speed" value='نفس الوقت تقريباً' id="flexRadioDefault2" checked>
  <label class="form-check-label" for="flexRadioDefault2">
نفس الوقت تقريباً
  </label>
</div>
</div>

</div>



<hr class='text-center w-75 mx-auto my-4'>

<div class="container ">
<h6 class='text-center '>هل استخدام التطبيق سهل</h6>
<div class="ml-auto">


<div class="form-check">
  <input class="form-check-input" type="radio" name="difficulty" value='نعم' id="flexRadioDefault1">
  <label class="form-check-label" for="flexRadioDefault1">

نعم
</div>
<div class="form-check my-3">
  <input class="form-check-input" type="radio" name="difficulty" value='لا' id="flexRadioDefault2" checked>
  <label class="form-check-label" for="flexRadioDefault2">
  لا
  </label>
</div>

</div>

</div>




<hr class='text-center w-75 mx-auto my-4'>




<div class="container ">
<h6 class='text-center'>هل ستستخدم التطبيق لاحقاً بدل الطريقة القديمة</h6>
<div class="ml-auto">


<div class="form-check">
  <input class="form-check-input" type="radio" name="usage" value='نعم' id="flexRadioDefault1">
  <label class="form-check-label" for="flexRadioDefault1">

نعم
</div>
<div class="form-check my-3">
  <input class="form-check-input" type="radio" name="usage" value='لا' id="flexRadioDefault2" checked>
  <label class="form-check-label" for="flexRadioDefault2">
  لا
  </label>
</div>

</div>

</div>





<hr class='text-center w-75 mx-auto my-4'>





<div class="  mx-3" dir="rtl" >
  <textarea  rows="4"  class='form-control' placeholder="ما الامور التي يمكن اضافتها للتطبيق لتحسينه " name='improvment' required></textarea>
</div>

</div>
<br>




    <input class="btn btn-success mx-auto   w-50 mt-3 mx-auto " id='submitFirst' type='submit' value='ادخل القيم' >
</div>
</form>



<br>
<br>

<h4 class='text-center text-success'>{{success}}</h4>







{% endblock %}
