{% extends 'base.html' %}
{% load static %}
{% block content %}


<br>
<br>



<form class="    row   align-self-center mx-5 text-center ">
  <h5 class='text-centr lead my-2   aling-self-center '>التاريخ الاساسي</h5>
<hr class='w-75 mx-auto '>
  <div class="col-7">


    <input class="form-control mx-auto  mr-2" min=2019 max=2022 type="number" id="username1" placeholder="السنة">  </div>
    <div class="col-5">
      <input class="form-control  mr-2" type="number" min=1 max=12 id="password" placeholder="الشهر">  </div>

      <h5 class='text-centr lead my-2  pb-2aling-self-center '>تاريخ التنفيذ</h5>
      <hr class='w-75 mx-auto '>

      <div class="col-7">
        <input class="form-control  mr-2" type="number" min=2019 max=2022 id="username" placeholder="السنة">  </div>
        <div class="col-5">
          <input class="form-control  mr-2" type="number" min=1 max=12  id="password" placeholder="الشهر">  </div>


    <button class="btn btn-success mt-4 w-25 mx-auto" type="submit">ادخل</button>
</form>
</div>
{% endblock %}
