{% extends 'base.html' %}
{% load static %}
{% block content %}



<h4 class='text-center text-success'>تطبيق تعاميم المحروقات</h4>
<h6 class='text-center text-success'>(سولار , زيت وقود , الاسفلت)</h6>


<br>




<form class="    row  mx-5 "  action="{% url 'diesel_asphalt' %}"  method="post">{% csrf_token %}
  <h5 class='text-centr lead my-2   aling-self-center text-center '>تاريخ التعميم</h5>
<hr class='w-75 mx-auto '>
  <div class="col-7 text-center">


    <input class="form-control mx-auto  mr-2 " min=2019 max=2022 type="number" name='year1' id="username1" placeholder="السنة" required>  </div>
    <div class="col-5">
      <input class="form-control  mr-2" type="number" min=1 max=12 id="password" name='month1' placeholder="الشهر" required>  </div>









    <button class="btn btn-success w-25 mx-auto mt-3" type="submit">ادخل</button>
</form>

<br>
{% if request.method == 'POST' %}
<div   dir="rtl">


  <table class="table table-sm table-hover  container text-center ">
      <thead>
          <tr >
              <th>#</th>
              <td >الصنف</td>
              <td>السعر بشهر ({{month}})</td>
              <td>مصدر القيمة</td>
          </tr>
      </thead>
      <tbody>
        <tr class=''>
            <th  scope="row">1</th>
            <td >ديزل</td>
            <td>{{costRequest_basic_diesel.0}} (فلس)</td>
            <td><a href={{tamem_base.url}} download="ديزل">pdf</a></td>

          </tr>
          <tr class='  '>
              <th  scope="row">2</th>
              <td >بيتيومين</td>
              <td>{{costRequest_basic_bitumen.0}} (دينار/طن)</td>
              <td><a href={{tamem_base_asphaltFuel.url}} download="بيتيومين و فيول">pdf</a></td>

          </tr>
          <tr class="">
              <th   scope="row">3</th>
              <td>زيت وقود</td>
              <td>{{costRequest_basic_fuel.0}}  (دينار/طن)</td>
              <td><a href={{tamem_base_asphaltFuel.url}} download="بيتيومين و فيول">pdf</a></td>


          </tr>


      </tbody>
  </table>

</div>

{% endif %}

<br>
<br>

<div   dir="rtl">
 <h5 class= 'text-center text-success  '>تصميم وتدقيق</h5>

 <table class="table table-sm table-hover  container text-center ">
     <thead>
         <tr >
             <th>#</th>
             <th>الاسم</th>
             <th>المسمى</th>
             <th>المساهمة</th>



         </tr>
     </thead>
     <tbody>
         <tr class='table-success'>
             <th  scope="row">1</th>
             <td >م.صهيب زهير خليل رباع</td>
             <td>مهندس طرق</td>
             <td>اعداد وتصميم</td>


         </tr>
         <tr class="table-secondary">
             <th   scope="row">2</th>
             <td>م.رحاب  حسن السعدوني</td>
             <td>رئيس قسم المساحة والدراسات</td>
             <td>مدقق اول</td>


         </tr>

        <tr class="table-secondary">
                      <th  scope="row">3</th>
                      <td>مهندس احمد الزن</td>
                      <td>مهندس طرق</td>
                      <td>مدقق ثاني</td>


          </tr>

         <tr class="table-secondary">
             <th  scope="row">4</th>
             <td>ايمان الهواوشة</td>
             <td>محاسبة</td>
             <td>مدقق ثالث</td>



         </tr>

     </tbody>
 </table>
</div>


{% endblock %}
