{% extends 'base.html' %}
{% load static %}
{% block content %}



<h4 class='text-center text-success'>تطبيق تعاميم المحروقات</h4>

<br>




<form class="    row  mx-5 "  action="{% url 'diesel_asphalt' %}"  method="post">{% csrf_token %}
  <h5 class='text-centr lead my-2   aling-self-center text-center '>التاريخ الاساسي</h5>
<hr class='w-75 mx-auto '>
  <div class="col-7 text-center">


    <input class="form-control mx-auto  mr-2 " min=2019 max=2022 type="number" name='year1' id="username1" placeholder="السنة">  </div>
    <div class="col-5">
      <input class="form-control  mr-2" type="number" min=1 max=12 id="password" name='month1' placeholder="الشهر">  </div>

      <h5 class='text-centr lead my-2  pb-2aling-self-center  text-center '>تاريخ التنفيذ</h5>
      <hr class='w-75 mx-auto '>

      <div class="col-7">
        <input class="form-control  mr-2" type="number" min=2019 max=2022 id="username" name='year2' placeholder="السنة" required>  </div>
        <div class="col-5">
          <input class="form-control  mr-2" type="number" min=1 max=12  id="password" name='month2' placeholder="الشهر" required>  </div>





          <h5 class=' lead mt-3   text-end '>صنف المحروقات</h5>
<div   dir="rtl">
          <div  class="form-check    pull-right">

            <input class=" pull-right" type="radio" value="diesel" name='item' id="flexCheckDefault" required>
            <label class="form-check-label lead  " for="flexCheckDefault">
      ديزل</label>
               </div>
            <div class="form-check  mt-2">
            <input class="pull-right" type="radio" value="butimen_oil" name='item' id="flexCheckChecked" checked required>
            <label class="form-check-label lead" for="flexCheckChecked">
بيتيومين و زيت وقود            </label>
          </div>
                  </div>
    <button class="btn btn-success w-25 mx-auto" type="submit">ادخل</button>
</form>

{% if test == "diesel" %}
<br>

<div   dir="rtl">


  <table class="table table-sm table-hover  container text-center ">
      <thead>
          <tr >
              <th>#</th>
              <td >الصنف</td>
              <td>السعر وقت التاريخ الاساسي(فلس)</td>
              <td>التعميم (التاريخ الاساسي)</td>
              <td>السعر وقت التاريخ الفعلي (فلس)</td>
              <td>التعميم (التاريخ الفعلي)</td>








          </tr>
      </thead>
      <tbody>
        <tr class=''>
            <th  scope="row">1</th>
            <td >ديزل</td>
            <td>{{costRequest_basic_diesel.0}}</td>
            <td><a href={{tamem_base.url}} download="ديزل">pdf</a></td>
            <td>{{costRequest_final_diesel.0}}</td>
            <td><a href={{tamem_final.url}} download="ديزل">pdf</a></td>


          </tr>


      </tbody>
  </table>

</div>

{% elif  test == 'butimen_oil' %}
<br>
<div   dir="rtl">
  <h1 class='text-center lead'>بيتيومين وزيت  وقود</h1>

  <table class="table table-sm table-hover  container text-center ">
      <thead>
          <tr >
              <th>#</th>
              <td >الصنف</td>
              <td>السعر وقت التاريخ الاساسي(طن/دينار)</td>
              <td>التعميم (التاريخ الاساسي)</td>
              <td>السعر وقت التاريخ الفعلي(طن/دينار)</td>
              <td>التعميم (التاريخ الفعلي)</td>






          </tr>
      </thead>
      <tbody>
          <tr class=''>
              <th  scope="row">1</th>
              <td >بيتيومين</td>
              <td>{{costRequest_basic_bitumen.0}}</td>
              <td><a href={{tamem_base.url}} download="بيتيومين و فيول">pdf</a></td>
              <td>{{costRequest_final_bitumen.0}}</td>
              <td><a href={{tamem_final.url}} download="بيتيومين و فيول">pdf</a></td>





          </tr>
          <tr class="">
              <th   scope="row">2</th>
              <td>زيت وقود</td>
              <td>{{costRequest_basic_fuel.0}}</td>
              <td>---</td>
              <td>{{costRequest_final_fuel.0}}</td>
              <td>---</td>


          </tr>


      </tbody>
  </table>
</div>


{% endif %}
{% endblock %}
