{% extends 'base.html' %}
{% load static %}

{% block content %}

<br>
<div class="row">


  {% for app in applications.all %}

  <div class="card mb-3 container col-sm-6" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src={{app.image.url}} class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{app.title}}</h5>
          <p class="card-text">{{app.body}}</p>
            <a href={{app.url}} class="btn btn-primary">اذهب للتطبيق</a>
        </div>
      </div>
    </div>
  </div>


  {% endfor %}



<!-- يا رب -->

<!--- --->

{% endblock %}
