{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href='{% static 'columnRemoval.css' %}?{% now "U" %}'>

    <link rel="stylesheet" href="<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


  </head>

  <header>
    <div class='mainTitle'>
  <h1>مشروع اتمتة العمليات الحكومية  </h1>
  <h3 id="suhaib2">كتاب ازالة عوائق (كهرباء , اتصالات)</h3>
  </div>
  <img id='mainLogo' src="{% static 'MPWH+Logo.jpg' %} " alt="">
</header>

<a href="{% url 'index' %}"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left-circle arrow" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
</svg></a>

  <body>
<br>
<br>
  <form class="" action="{% url 'columnRemoval' %}" method="post"> {% csrf_token %}

  <input id='citizenName' type="text" name="citizenName" placeholder="ادخل اسم المواطن">
  <br>
  <br>
  <input id='columnNubmer'  type="number" name="columnNumber" placeholder="ادخل عدد الاعمدة">
  <br>
    <br>

 <label id='columnLabel' for="type">نوع الاعمدة</label><br>
  <select  name="column_type" id="type" >
  <option value="اتصالات">اتصالات</option>
  <option value="كهرباء">كهرباء</option>
</select>

  <br>
  <br>
  <input class='buttom' type="submit" name="" value="ادخل">
  </select>

</form>
<br>

 <div id='transver'>{{trail|safe }}</div>

<a id='wordFile' href="{% static citizenName|add:".docx"   %}"  download  > {{citizenName}} </a>


  </body>
</html>
