{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Amiri:wght@700&family=Markazi+Text:wght@500&display=swap" rel="stylesheet">

<link rel="stylesheet" type="text/css" href='{% static 'trail.css' %}?{% now "U" %}'>
<link rel="stylesheet" type="text/css" href='{% static 'webApp.css' %}?{% now "U" %}'>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  </head>

  <body class='container-fluid'>

    <br>

      <div id='top_border2'>
        <hr>

        <header>


        <div>
        <h1>مشروع اتمتة العمليات الحكومية </h1>
        <h4 id="suhaib2" >مبادرة لتخفيف وطئة الاعمال البيوقراطية بالمؤسسات الحكومية</h4>
        </div>
        <img id='mainLogo' src="{% static 'MPWH+Logo.png' %} " alt="">
        <br>
      </header>
    <hr id='header_line2'>
      <ul class="nav justify-content-end container">
        <li class="nav-item">
            <a class="nav-link navBar" href="#">عن الموقع</a>

        </li>
      <li class="nav-item">
          <a class="nav-link navBar" href="#">التعاميم</a>

      </li>
      <li class="nav-item">

        <a  href="{% url 'webApp' %}"  class="nav-link active navBar ">واحة التطبيقات </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active navBar "  href="{% url 'index' %}" >الصفحة الرئيسية </a>
      </li>
    </ul>
    <hr id='header_line2'>
        </div>
    <br>

<br>

<section class='row'>


<div class="localRoads col-xl-4 col-sm-4">


<a  href="{% url 'dateApp2' %}"> <img id="date_calculations" src="{% static 'images\حاسبة الايام.jpg' %} " alt=""></a>

    </div>

</div>

<div class="localRoads col-xl-4 col-sm-4">


<a href="{% url 'tenderAppUrl' %}"> <img id="date_calculations" src="{% static 'images\عطاءات.jpg' %} " alt=""></a>

  </div>
</div>
<div class="localRoads col-xl-4 col-sm-4">
<a href="{% url "dieselApp_url" %}">
  <img id="date_calculations" src="{% static 'images\تعاميم _المحروقات.jpg' %} " alt="">
</a>
</div>



</section>


  </body>

</html>
