{% extends 'base.html' %}

{% block content %}

{% if error %}

 <h4 class='container text-center lead mt-3  border p-3 border-danger'>{{ error }}</h4>

{% endif %}

<br>

<form class='form-group container justify-content-center text-center mt-3 mb-3 lead' method="POST" action="{% url 'login' %}">
{% csrf_token %}
اسم المستخدم
<br />
<input class=" mt-1 form-control" type="text" name="username" />
<br />
<span class='m-auto text-center'>كلمة السر</span>
<br />
<input class='form-control mt-1' type="password" name="password" />
<br />
<input class="btn btn-primary" type="submit" value="ادخل" />
</form>

{% endblock %}
