{% extends 'base.html' %}

{% block content %}

{% if error %}
<h4 class='container text-center lead mt-3  border p-3 border-danger'>{{ error }}</h4>

{% endif %}



<form method="POST" class='form-group container justify-content-center text-center mt-3 mb-3 lead' action="{% url 'signup' %}">
{% csrf_token %}
اسم المستخدم
<br />
<input class='form-control mt-1' type="text" name="username" />
<br />
كلمة السر
<br />
<input class='form-control mt-1' type="password" name="password1" />
<br />
تاكيد كلمة السر
<br />
<input class='form-control mt-1' type="password" name="password2" />
<br />

<input class="btn btn-primary" type="submit" value="تسجيل مستخدم جديد" />
</form>

{% endblock %}
